body {
  font-family: Roboto, sans-serif;
}
/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-transform: uppercase;
}
ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* HERO SECTION */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  height: 350px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-networks a {
  color: black;
}
