body {
  font-family: Roboto, sans-serif;
}
/* HEADER SECTION */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-transform: uppercase;
}
ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

/* HERO SECTION */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  height: 350px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* PORTFOLIO SECTION */
.portfolio h2 {
  margin-left: 60px;
  margin-bottom: 5px;
}
.content {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
}

.content-item {
  box-shadow: 3px 3px 7px rgb(168, 168, 168);
  max-width: 250px;
}
.content-item:nth-child(1) {
  background-color: rgb(0, 107, 107);
}
.content-item:nth-child(2) {
  background-color: rgb(243, 46, 46);
}
.content-item:nth-child(3) {
  background-color: rgb(225, 0, 255);
}
.content-item:nth-child(4) {
  background-color: rgb(173, 171, 2);
}
.content-item:nth-child(5) {
  background-color: rgb(187, 41, 255);
}
.content-item:nth-child(6) {
  background-color: rgb(87, 226, 145);
}

.content-item > p {
  text-align: center;
  margin: 80px auto;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.item-text-content {
  padding: 0px 15px 15px 15px;
  background-color: white;
}
.item-text-content h3 {
  padding-top: 10px;
}
.item-text-content > p {
  color: rgb(99, 99, 99);
}
.item-icon {
  padding-left: 50px;
}

.item-icon * {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
